<div class="container mx-auto">
  <div class="flex ...">
    <div class="flex-none w-14 h-14 ...">
    <%= t('banks') %> <p class="font-sans ..."><%= @user.banks.count %></p>
    </div>
  </div>
  <div class="flex ...">
    <div class="flex-none w-14 h-14 ...">
        <%= t('providers') %><p class="font-sans ..."><%= @user.providers.count %></p>
    </div>
  </div>
</div>
